/* START CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}
/* END CSS RESET */

html {
  font-family: Poppins;
}

body {
  background-color: rgb(18, 25, 27);
}

#time-input-container {
  display: grid;
  color: white;
  padding: 2vw 2vw 2vw 2vw;
  background-color: rgb(45, 65, 75);
  border-radius: 5px;
  width: 95vw;
  margin: 10px auto 0 auto;
}

form {
  display: grid;
  row-gap: 1rem;
}

.time-input-item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content 1fr min-content min-content min-content;
  font-size: 1.5rem;
  width: 95%;
}

.label {
  align-self: center;
  margin-right: 20px;
}

.time-input {
  width: 25vw;
  border-radius: 5px;
  border: none;
  appearance: textfield;
  text-align: center;
  font-size: 1.5rem;
  font-family: Poppins;
}

.colon {
  font-size: 2rem;
}

.time-input,
.colon {
  justify-self: end;
}

#start-timer {
  background-color: rgb(89, 115, 126);
  color: rgb(219, 237, 245);
  border: none;
  border-radius: 5px;
  width: 75vw;
  margin: auto;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#sets-container {
  display: grid;
  grid-template-areas: "text input";
  grid-template-columns: 1fr 1fr;
}

#sets-input {
  justify-self: center;
  margin-right: 40px;
  height: 49px;
}
