/* START CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}
/* END CSS RESET */

html {
  font-family: Poppins;
  height: 915px;
  width: 412px;
}

body {
  background-color: rgb(18, 25, 27);
  display: grid;
  grid-auto-rows: min-content;
  place-items: center;
  height: 915px;
}

#time-input-container {
  display: grid;
  color: white;
  padding: 8px;
  background-color: rgb(45, 65, 75);
  border-radius: 5px;
  width: 95%;
  margin-top: 10px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
    "left right"
    "begin begin";
}

.labels {
  grid-area: left;
  display: grid;
  grid-auto-rows: 1fr;
  font-size: 1.5rem;
  place-items: center;
  grid-auto-rows: 70px;
  cursor: default;
}

.label {
  width: min-content;
  align-self: center;
  margin-right: 20px;
  padding-bottom: 5px;
  margin-top: 5px;
}

.inputs {
  grid-area: right;
  display: grid;
  place-items: center;
  grid-auto-rows: 70px;
}

.input-section {
  display: grid;
  grid-auto-flow: column;
}

.time-input {
  width: 101px;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
}

.colon {
  font-size: 1.5rem;
  margin-left: 4px;
  margin-right: 4px;
  line-height: 45px;
}

#start-button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: rgb(75, 95, 105);
  color: white;
  cursor: pointer;
  display: grid;
  place-items: center;
  grid-area: begin;
}

#total-container {
  display: grid;
  align-self: start;
  place-items: center;
  color: white;
  font-size: 3rem;
  line-height: 45px;
  margin-top: 20px;
}

#total-display {
  display: grid;
  grid-auto-flow: column;
}
